<header class="w-full bg-black z-50 flex justify-between items-center px-6 py-2 md:px-8">
   <a href="#">
      <img src="https://www.licaclub.com/wp-content/uploads/2020/01/Logo-2020.png" alt="Logo" class="h-12" />
   </a>
   <!-- Hamburger Button (visible on small screens) -->
   <button id="menu-toggle" class="md:hidden text-orange-300 focus:outline-none absolute top-4 right-4" aria-label="Toggle menu">
      <svg class="h-8 w-8" fill="none" stroke="currentColor" viewBox="0 0 24 24">
         <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h16M4 18h16"/>
      </svg>
   </button>
   <nav class="md:relative">
      <ul id="menu" class="hidden flex-col text-right absolute top-0 right-0 w-full bg-black/60 md:flex md:static md:flex-row md:bg-transparent md:gap-10 font-semibold text-sm text-orange-300 transition-all duration-700 ease-in-out md:opacity-100 opacity-95 md:mt-0 mt-2 md:p-0 p-4 md:w-auto space-y-5 md:space-y-0">
         <li>
            <a href="/" class="{{ 'text-white' if url === 'home' }}">Home</a>
         </li>
         <li>
            <a href="/about" class="{{ 'text-white' if url === 'about' }}">About</a>
         </li>
         <li>
            <a href="/gallery" class="{{ 'text-white' if url === 'gallery' }}">Gallery</a>
         </li>
         <li>
            <a href="/contact" class="{{ 'text-white' if url === 'contact' }}">Contact</a>
         </li>
      </ul>
   </nav>
</header>
<script>
   // filepath: /Users/adisakjantrasopark/Documents/Lica-Annual2025/SiteLica/eleventy-tailwind/_includes/partials/_header.njk
   const toggle = document.getElementById('menu-toggle');
   const menu = document.getElementById('menu');
   toggle.addEventListener('click', () => {
      menu.classList.toggle('hidden');
      menu.classList.toggle('pointer-events-none');
      menu.classList.toggle('opacity-100');
      menu.classList.toggle('pointer-events-auto');
   });
</script>
