<header class="w-full bg-black flex justify-between items-center px-6 py-2 md:px-8">
   <a href="#">
      <img src="https://www.licaclub.com/wp-content/uploads/2020/01/Logo-2020.png" alt="Logo" class="h-12" />
   </a>
   <nav>
      <ul class="flex gap-10 font-semibold text-sm text-orange-500">
         <li>
            <a href="/" class="{{ 'text-purple-100' if url === 'home' }}">Home</a>
         </li>
         <li>
            <a href="/about" class="{{ 'text-purple-100' if url === 'about' }}">About</a>
         </li>
         <li>
            <a href="/" class="{{ 'text-purple-100' if url === 'home' }}">Gallery</a>
         </li>
         <li>
            <a href="/about" class="{{ 'text-purple-100' if url === 'about' }}">Contact</a>
         </li>
      </ul>
   </nav>
</header>
